html{
  box-sizing: border-box;
}

*,*::before, *::after {
  box-sizing:inherit;
}

h1{
  font-family: 'Pacifico', cursive;
  color: white;
  font-size: 2.5em;
  margin: 0;
  padding-top: 0.25em;
  padding-bottom: 0.25em;
  padding-left: 1em;
  text-align: center;
}

header{
  background-color: #5b5a5a;
}

nav{
  background-color: #5b5a5a ;
  text-align: center;
  padding-bottom: 1em;
  position: relative;
  z-index: 1;
}

nav ol{
   list-style: none;
   color: white;
   margin: 0;
   padding: 0;
   overflow: hidden;
 }

 nav li{
   float: left;
   margin: 0;
   text-align:center;
 }

 nav a{
 display: block;
 color: white;
 text-decoration: none;
 font-family: 'Roboto', sans-serif;
 font-size: 1.1em;
 padding-left: 0.5em;
 padding-right: 0.5em;
 text-align: center;
 width: 33.3%;
}

nav a:hover{
  color: #d38a81;
}

ol li{
text-decoration: none;
}

.pancakes{
  width: 100%;
  padding: 0;
  margin: 0;
}

figure{
  margin: 0;
  position: relative;
}

figcaption{
  font-family: 'Pacifico', cursive;
  color: white;
  font-size: 2em;
  position: absolute;
  bottom: 35%;
  text-align: center;
  width: 100%;
}

p{
  font-family: 'Roboto', sans-serif;
  padding-left: 0.5em;
}

.restaurant{
  width: 100%;
  padding-top: 1em;
  padding-bottom: 1em;
}


.benches{
  width: 100%;
  padding-bottom: 1em;
}

h2{
  font-family: 'Roboto', sans-serif;
  font-size:2em;
  text-align: center;
  margin: 0;
}

.time{
  text-align: center;
  font-family: 'Pacifico', cursive;
  font-size: 1.5em;
  color: white;
  margin: 0;
}

.small{
  text-align: center;
  font-family: 'Roboto', sans-serif;
  text-align: center;
}

.hours{
  background-color: #d38a81;
  padding: 0.5em;
  margin: 0;
  color: white;
  text-align: center;
}

h3{
  font-family: 'Roboto', sans-serif;
  color: white;
  text-decoration: none;
  text-align: center;
}

h3 a:visited{
  color: #5b5a5a;
}

footer{
  background-color:#86a6a1;
}
